@font-face {
  font-family: fuck;
  src: url(/something.ttf); }

/* line 4, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
* {
  box-sizing: border-box; }

/* line 8, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
html {
  height: 100%;
  background-color: whitesmoke; }

/* line 13, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20 0; }
  @media (max-width: 1000px) {
    /* line 13, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    body {
      padding: 0; } }
  /* line 23, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body > * {
    padding: 0;
    font-size: 16px;
    font-family: HelveticaNeue-Thin, helvetica, arial, sans-serif;
    color: #646464;
    background: #e6e6e6;
    box-shadow: 0 0 6px rgba(150, 150, 150, 0.8); }
  /* line 32, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #28befa; }
    /* line 37, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    body a:hover {
      color: #28befa; }
  /* line 42, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: CenturyGothic, helvetica, arial, sans-serif; }
  /* line 46, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body h1 {
    color: #505050;
    font-size: 30px; }
  /* line 51, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body h2 {
    color: #5a5a5a;
    font-size: 25px; }
  /* line 56, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body h3 {
    color: #646464;
    font-size: 20px; }
  /* line 61, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body ul {
    display: inline-block;
    margin: 0;
    list-style-type: square; }

/* line 68, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
header {
  overflow: hidden; }
  @media (max-width: 680px) {
    /* line 68, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    header {
      padding: 0 20; }
      /* line 74, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      header h1 {
        font-size: 45px; }
        /* line 77, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
        header h1 br {
          display: block !important; }
      /* line 82, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      header section {
        padding: 0 !important;
        clear: both; }
      /* line 87, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      header img {
        height: 150px;
        margin: 20 0; } }
  /* line 93, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  header img {
    float: left;
    max-height: 650px;
    max-width: 40%;
    margin-right: 20px;
    transition: max-height 0.3s; }
  /* line 102, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  header h1 br {
    display: none; }
  /* line 106, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  header h1 div {
    font-size: 16px;
    margin-top: 8px;
    color: #8c8c8c;
    cursor: pointer; }
    /* line 112, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    header h1 div span {
      display: inline-block;
      font-weight: normal;
      transform: scaleX(2) rotate(-90deg);
      transition: transform 0.2s;
      margin-left: 8px; }
  /* line 122, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  header section {
    height: auto;
    padding: 0 20;
    transition: height 1s; }
  /* line 129, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  header.shrink img {
    max-height: 150px; }
  /* line 133, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  header.shrink h1 {
    font-size: 45px; }
    /* line 136, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    header.shrink h1 span {
      transform: scaleX(2) rotate(90deg); }
  /* line 141, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  header.shrink section {
    height: 0;
    opacity: 0;
    pointer-events: none; }

/* line 149, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
nav {
  display: flex;
  width: 100%; }
  /* line 153, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  nav.float {
    position: fixed;
    top: 0;
    z-index: 1000;
    max-width: 1000px; }
  /* line 160, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  nav button {
    font-family: CenturyGothic, helvetica, arial, sans-serif;
    padding: 8 10;
    font-size: 18px;
    flex-grow: 1;
    width: 50%;
    color: #aaaaaa;
    border: none;
    background: linear-gradient(to bottom, whitesmoke 70%, #e6e6e6);
    border-bottom: 2px solid #b4b4b4;
    box-shadow: 0 2px 2px rgba(200, 200, 200, 0.4);
    margin: 0;
    cursor: pointer; }
    /* line 174, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    nav button.selected {
      color: #0096d2;
      border-color: #0096d2;
      background: linear-gradient(to bottom, whitesmoke 70%, #64faff); }
    /* line 180, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    nav button:hover {
      background: #f0f0f0; }

/* line 186, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
main {
  margin: 20 0 0; }
  /* line 189, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  main section {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    /* line 194, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    main section div {
      width: 100%;
      padding: 15 15 0; }
      /* line 198, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      main section div img {
        width: 100%;
        box-shadow: 0 0 6px rgba(150, 150, 150, 0.5);
        cursor: pointer; }
      /* line 204, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      main section div:last-child {
        padding-bottom: 15; }
      /* line 209, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      main section div:hover img {
        box-shadow: 0px 3px 8px rgba(120, 120, 120, 0.8); }
    /* line 215, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    main section summary {
      height: auto;
      width: 100%;
      flex-grow: 1;
      font-color: #3c3c3c;
      background: #d2d2d2;
      box-shadow: inset 0px 0px 12px rgba(80, 80, 80, 0.5);
      padding: 15px;
      opacity: 1;
      z-index: 200; }
      /* line 226, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      main section summary *:first-child {
        padding-top: 0;
        margin-top: 0; }
  /* line 235, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  main .grid div {
    width: 33.33%;
    padding: 15;
    position: relative; }
    /* line 240, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    main .grid div img {
      transition: width 0.2s, margin 0.2s;
      z-index: 5; }
    /* line 245, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    main .grid div .selected {
      width: 104%;
      margin-left: -2%;
      margin-top: -2%;
      box-shadow: 0px 3px 8px rgba(120, 120, 120, 0.8); }
    /* line 252, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
    main .grid div span {
      opacity: 1;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 5px;
      margin-left: -50px;
      background: #c8c8c8;
      box-shadow: inset 0px 0px 20px rgba(80, 80, 80, 0.5);
      transform: rotate(-45deg);
      z-index: 0;
      pointer-events: none; }
    @media (max-width: 750px) {
      /* line 235, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
      main .grid div {
        width: 50%; } }

/* line 275, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
body > aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.8);
  padding: 40px; }
  /* line 284, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body > aside iframe {
    margin: auto;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background: #3c3c3c; }
  /* line 294, /Users/joshkennelly/Documents/Web Development/myPortfolio/css/index.scss */
  body > aside button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 3;
    top: -6;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    transform: scaleX(1.2); }

/*# sourceMappingURL=index.css.map */