@import "fonts.css";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
}

html {
	height: 100%;
}

body {
	font-family: "CenturyGothic";
	font-size: 16px;
	height: 100%;
	
	&.disable {
		pointer-events: none;
	}
}

main {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	
	#controls {
		text-align: center;
		display: flex;
		width: 100%;
		flex-direction: column;
		
		#scores {
			width: 100%;
			height: 32px;
			font-size: 16px;
			text-transform: uppercase;
			color: rgb(240, 240, 240);
			background-color: rgb(30, 140, 90);
			padding: 6px;
			box-shadow: 0px 0px 4px rgb(90, 90, 90);
			display: flex;
			
			#highScore {
				text-align: left;
				flex-grow: 1;
			}
			
			#score {
				text-align: right;
				flex-grow: 1;
			}
		}
	
		#font {
			font-size: 60px;
			margin: 0px;
			padding: 10px;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
		
		#answer {
			font-size: 19px;
			opacity: 0;
			height: 35px;
			color: rgb(80, 100, 150);

			&.correct:before {
				content: "✓ ";
				color: rgb(30, 180, 80);
			}

			&.incorrect:before {
				content: "✗ ";
				color: rgb(190, 50, 80);
			}
		}
	}
	
	ul {
		height: calc(100% - 167px);
		list-style: none;
		margin: 0px;
		padding: 0px;
		color: white;
		background-color: rgb(70, 70, 70);
		overflow-y: auto;
		
		li {
			text-align: center;
			background-color: rgb(100, 100, 100);
			border-bottom: 1px solid rgb(190, 190, 190);
			cursor: pointer;
			
			div {
				padding: 14px;
				display: flex;
				justify-content: center;
				align-content: center;
				
				&:active {
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
			
			ul {
				height: auto;
				background-color: rgb(200, 200, 200);
				overflow-y: hidden;
				max-height: 0px;
				transition: 0.4s max-height;
				
				li {
					color: rgb(100, 100, 100);
					background: transparent;
					padding: 10px;
					
					&:hover {
						background-color: rgba(100, 100, 100, 0.2);
					}
					
					&:active {
						box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
					}
				}
			}
		}
	}
}

#done {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
	transition: 0.6s opacity;
	
	&.show {
		opacity: 1;
		pointer-events: auto;
	}
	
	& > div {
		background-color: rgb(240, 240, 240);
		width: 50%;
		padding: 20px;
		border-radius: 8px;
		font-size: 30px;
		text-align: center;
		color: rgb(80, 80, 80);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
		
		#finalScore {
			font-size: 40px;
			color: rgb(50, 50, 50);
			padding: 10px 0px;
		}

		button {
			font-size: 20px;
			padding: 15px;
			border-radius: 4px;
			border: none;
			color: rgb(255, 255, 255);
			text-shadow: 0 0 3px rgb(40, 60, 20);
			background-color: rgb(100, 160, 200);
			cursor: pointer;
			
			&:focus {
				outline: none;
			}
			
			&:active {
				box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
			}
		}
	}	
}