@font-face {
	font-family: CenturyGothic;
	src: url(gothic.ttf);
}

@font-face {
	font-family: BigNoodle;
	src: url(big_noodle_titling.ttf);
}

@font-face {
	font-family: BankGothic;
	src: url(bankgothic.ttf);
}