@import url('fonts.css');

* {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
}

html {
	background-attachment: fixed;
	height: 100%;
	background-image: -webkit-radial-gradient(ellipse farthest-corner, rgb(160, 160, 160) 0%, rgb(50, 50, 50) 100%);
	background-image: radial-gradient(ellipse farthest-corner, rgb(160, 160, 160) 0%, rgb(50, 50, 50) 100%);
}

body, .page_color {
	background: none;
	padding: 0px;
	margin: 0px;
}

#content {
	width: 100%;
	max-width: 900px;
	margin: 0px auto;
	color: rgb(60, 60, 60);
	font-size: 16px !important;
	font-family: CenturyGothic, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: rgb(220, 220, 220);
	box-shadow: 0px 0px 12px rgb(30, 30, 40);
}

#content.splash {
	color: rgb(200, 200, 200);
	background-color: rgb(36, 58, 66);
}

#content img:first-child {
	width: 100%;
}

#content > div {
	padding: 20px;
}

#content h1, #content h2, #content h3,
#content h4, #content h5, #content h6 {
	font-family: BigNoodle;
	letter-spacing: 2;
	font-weight: normal;
}

#content h1 {
	font-size: 40px;
	padding: 0;
	margin: 0;
	color: rgb(47, 75, 86);
}

#content.splash h1 {
	color: rgb(76, 194, 161);
}

#content h1 + p {
	padding-top: 20px;
}

#content h2 {
	font-size: 34px;
	color: rgb(123, 66, 14);
}

#content.splash h2 {
	color: rgb(236, 159, 86);
}

#content h3 {
	font-size: 30px;
	margin-bottom: 8px;
	color: rgb(67, 93, 105);
}

#content.splash h3 {
	color: RGB(139, 169, 177);
}

#content h4 {
	font-size: 26px;
	color: rgb(12, 110, 83);
	margin-bottom: 0px;
}

#content.splash h4 {
	color: rgb(20, 195, 158);
}

#content h5 {
	font-size: 22px;
	padding: 3px 0px 0px;
	margin: 0;
	color: rgb(88, 88, 89);
}

#content.splash h5 {
	color: rgb(181, 181, 182);
}

#content p {
	margin-top: 0px;
}

#content ul li {
	list-style-type: square;
}

#content li {
	padding-bottom: 6px;
}

#content hr {
	width: 100%;
	height: 0px;
	color: rgb(90, 90, 90);
	background-color: rgb(90, 90, 90);
	border-color: rgb(90, 90, 90);
}

#content.splash hr {
	color: rgb(200, 200, 200);
	background-color: rgb(200, 200, 200);
	border-color: rgb(200, 200, 200);
}