@import url('fonts.css');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media print {
	main *, #main * {
		font-family: sans-serif !important;
	}
}

/* Fixes for BrightSpace */

body > p {
	margin: 0 !important;
	padding: 0 !important;
}

/* End of fixes */

html {
	height: 100%;
	background: black;
	background: -webkit-radial-gradient(ellipse, rgb(140, 111, 55) 0%, rgb(120, 91, 49) 100%);
	background: radial-gradient(ellipse, rgb(140, 111, 55) 0%, rgb(120, 91, 49) 100%);
	background-attachment: fixed;
}

main, #main {
	width: 100%;
	max-width: 950px;
	margin: 0 auto;
	font-size: 16px !important;
	font-family: CenturyGothic, "Helvetica Neue", Arial, Helvetica;
	box-shadow: 0 0 12px rgba(40, 30, 2, 1);
}

header img, #header img {
	width: 100%;
}

main.hoverBanner, #main.hoverBanner {
	box-shadow: none;
}

main.hoverBanner header, #main.hoverBanner #header {
	padding: 20px 0;
}

main > article, #main > #article {
	padding: 20px;
	color: rgb(70, 60, 20);
	background-color: rgb(245, 230, 200);
}

main.splash > article, #main.splash > #article {
	color: rgb(245, 239, 175);
	background-color: rgb(0, 0, 0);
}

main.hoverBanner > article, #main.hoverBanner > #article {
	box-shadow: 0 0 12px rgba(40, 30, 2, 1);
}

main > article:after, #main > #article:after {
content: " ";
clear: both;
height: 0px;
display: block;
opacity: 0;
}

/* Headings */

main h1, main h2, main h3,
main h4, main h5, main h6,
#main h1, #main h2, #main h3,
#main h4, #main h5, #main h6{
	font-family: RomanSD;
	font-weight: normal;
}

main h1, #main h1 {
	font-size: 32px;
	color: rgb(139, 9, 0);
}

main.splash h1, #main.splash h1 {
	color: rgb(180, 22, 0);
}

main h1 + p, #main h1 + p {
	padding-top: 20px;
}

main h2, #main h2 {
	font-size: 36px;
	margin: 15px 0 10px;
	font-variant: small-caps;
	color: rgb(191, 92, 19);
}

main h3, #main h3 {
	font-size: 25px;
	margin: 12px 0 4px;
	color: rgb(200, 42, 0);
}

main h4, #main h4 {
	font-size: 26px;
	margin: 10px 0 4px;
	font-variant: small-caps;
	color: rgb(231, 107, 59);
}

main h5, #main h5 {
	font-size: 22px;
	margin: 3px 0px 0px;
	font-variant: small-caps;
	color: rgb(164, 164, 91);
}

main.splash h5, #main.splash h5 {
	color: rgb(180, 180, 120);
}

main p, #main p {
	margin-bottom: 10px;
	line-height: 22px;
}

main ol, main ul,
#main ol, #main ul {
	margin-left: 30px;
	margin-bottom: 10px;
}

main ul li, #main ul li {
	list-style-type: square;
}

main li, #main li {
	padding-bottom: 6px;
}

/* Images / Floating */

main .left, #main .left {
float: left;
display: block;
margin-right: 10px;
margin-bottom: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main .right, #main .right {
float: right;
display: block;
margin-left: 10px;
margin-bottom: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main .noFloat:before, #main .noFloat:before {
content: " ";
display: block;
clear: both;
opacity: 0;
height: 0;
}

/* Sizing */

main .full, #main .full {
width: 100%;
}

main .half, #main .half {
max-width: 50%;
}

main .quarter, #main .quarter {
max-width: 25%;
}

/* Horizontal Rule */

main hr, #main hr {
	width: 100%;
	height: 2px;
	margin: 10px 0;
	color: rgb(90, 90, 90);
	background-color: rgb(90, 90, 90);
	border-color: rgb(90, 90, 90);
}

main.splash hr, #main.splash hr {
	color: rgb(191, 92, 19);
	background-color: rgb(191, 92, 19);
	border-color: rgb(191, 92, 19);
}

/* Links */

main a, #main a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid rgb(40, 160, 200);
}

main a:hover, #main a:hover {
	color: rgb(40, 160, 200);
}

main.splash a, #main.splash a {
	border-bottom: 2px solid rgb(40, 160, 200);
}

main.splash a:hover, #main.splash a:hover {
	color: rgb(40, 160, 200);
}

/* Tables */

main table.rubric, #main table.rubric {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
}

main table.rubric th, #main table.rubric th {
	padding: 8px;
	color: rgb(247, 235, 212);
	font-weight: normal;
	background-color: rgb(137, 65, 36);
	text-align: right;
}

main table.rubric tr:first-child th,
#main table.rubric tr:first-child th {
	padding: 6px;
	color: rgb(248, 237, 216);
	font-weight: bold;
	text-align: center;
	background-color: rgb(126, 6, 2);
}

main table.rubric td, #main table.rubric td {
	padding: 8px;
	color: #333;
}

main table.rubric tr:nth-child(odd) td,
#main table.rubric tr:nth-child(odd) td {
	background-color: rgb(241, 220, 177);
}

main table.rubric tr:nth-child(even) td,
#main table.rubric tr:nth-child(even) td {
	background-color: rgb(237, 210, 156);
}

main footer, #main #footer {
	text-align: center;
	padding: 6px;
	color: rgb(195, 189, 121);
	background-color: RGB(77, 4, 1);
	font-size: 13px;
}

/* Layout Tools */

div.txtbox, div.quote {
	margin: 10px 20px;
	border: 1px solid rgb(126, 6, 2);
	border-radius: 5px;
	padding: 6px;
	font-size: 12px;
}

/* List Container */
dl {
	margin: 10px 20px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/* List Headings */
dl dt {
	padding: 8px;
	font-size: 18px;
	color: rgb(245, 230, 200);
	background: rgb(126, 6, 2);
	border-bottom: 2px solid rgb(169, 80, 45);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* List Heading Arrows */
dl dt:after {
	content: "\276f";
	color: rgb(245, 230, 200);
	float: right;
	font-size: 22px;
	padding: 0;
	margin: 0;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* List Content */
dl dd {
	background: rgba(0, 0, 0, 0.1);
	overflow: hidden;
	height: 0;
	padding: 0px;
}

/* Open List Content */
dl dt.open + dd {
	height: auto;
	padding: 8px;
}

/* Rotate Arrow */
dl dt.open:after {
	margin-top: -2px;
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

/* Coding Tools */

div.code, pre {
	border: 3px solid rgb(169, 80, 45);
	padding: 4px 8px;
	background: rgb(126, 6, 2);
	margin: 10px 40px;
	line-height: 130%;
	text-wrap: suppress;
	color: rgb(245, 230, 200);
	font-size: 13px;
	font-family: "Consolas", "Courier New", "Courier";
}

code {
	font-size: 13px;
	margin: 0;
	font-family: "Consolas", "Courier New", "Courier";
}